body {
  background-image: url("Assets/Images/background.jpg");
  /* background-position: cover; */
  background-repeat: no-repeat;
  background-size:  100% 100%;
}

.btn-primary {
  background-color: #89a3a3d0;
  color: black;
}

.navbar {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main {
  margin-top: 5%;
  margin-left: 15%;
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#contact-info{
  margin-top: 20%;
  /* width: 30; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#profile-image  {
  margin-top: 5%;
  margin-left: 5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 250px;
  height: 300px;
  margin-right: 20px;
}
#bio {
margin-top: 6%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#links, #btn {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 3%;
}
#linksContact {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 0;
}
#email {
color: black;
}

